h2 {
  font-size: 28px;
  margin: 0px;
  color: #5f6f94;
}
h6 {
  font-size: 16px;
  margin: 0px;
  color: #25316d;
}
h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  margin: 0px;
  font-size: 26px;
}

i {
  font-size: 60px;
  display: inline;
  text-align: center;
  color: #97d2ec;
  margin-top: -100px;
  margin-bottom: 100px;
  width: 200px;
  float: right;
}

ul {
  list-style: none;
  line-height: 40px;
}

#theBox {
  text-align: 0 auto;
  border: solid #5f6f94 1px;
  border-radius: 4px;
  width: 500px;
  height: 200px;
  padding: 20px;
  font-weight: 300;
  margin-left: 15px;
  margin-top: 15px;
  line-height: 50px;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
}

#celcius {
  font-size: 16px;
}

.display {
  font-size: 36px;
}

.left {
  display: block;
  width: 300px;
  margin-right: 0px;
}

.temp {
  color: #25316d;
  font-size: 15px;
}

.floatRight {
  display: block;
  float: right;
  text-align: right;
  margin-top: -230px;
  line-height: 50px;
  padding-top: 30px;
  padding-right: 20px;
}

.info {
  color: #25316d;
}
